* {
  font-family: 'Roboto';
}
.li-container {
  margin: 10px;
  padding: 10px;
  height: 100px;
  width: 302px;
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
}
.first-digit {
  height: 50px;
  width: 50px;
  padding-top: 15px;
  padding-left: 20px;
  background-color: #10b981;
  border-radius: 50%;
  color: #ffffff;
  margin-right: 20px;
  font-size: 18px;
}

.details {
  width: 200px;
}
.btn {
  background-color: transparent;
  border: 0px solid;
}
.mar {
  margin-top: 10px;
}
.image {
  height: 20px;
  width: 20px;
}
.password-stared-image {
  width: 170px;
  height: 18px;
}
